@page "/drivers/create"

<h3>Criar Condutor</h3>

<DriverForm Driver="driver" OnValidSubmit="Create"></DriverForm>

@code {
    public Drivers driver = new Drivers();

    private void Create()
    {
        Console.WriteLine("Condutor criado");        
    }
}
