@page "/drivers/create"
@inject IDriversRepository driversRepository
@inject NavigationManager navigationManager
@inject ILogger<Drivers> logger

<h3>Criar Condutor</h3>

<DriverForm Driver="driver" OnValidSubmit="Create"></DriverForm>

@code{
    public Drivers driver = new Drivers();

    private async Task Create()
    {
        try
        {
            await driversRepository.CreateDriver(driver);
            logger.LogInformation($"Driver Create Page: Driver {driver.Id} created");
            navigationManager.NavigateTo("drivers");
        }
        catch(Exception ex)
        {
            logger.LogError($"Driver Create Page:{ex.Message.ToString()}");            
        }
    }
}
