@page "/drivers"
@inject IDriversRepository driversRepository

@*
@inject SingletonService singleton
@inject TransientService transient
*@

<h3>Lista de Condutores</h3>

<a class="btn btn-info" href="/drivers/create">Criar condutor</a>

<div> 
    <DriversList Drivers="drivers"/>
</div>

@*<div>
    <GenericList List="cars">
        <WholeListTemplate>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th>
                    </th>
                    <th>Matrícula</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in cars)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-success">Edit</a>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                            <td>@item.License</td>
                        </tr>
                    }
                </tbody>
            </table>
        </WholeListTemplate>
    </GenericList>
</div>*@
@code {
    List<Drivers> drivers;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            drivers = await driversRepository.GetDrivers();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    //
    //singleton.Value += 1;
    //transient.Value += 1
}
