@page "/drivers/edit/{DriverId:int}"
@inject IDriversRepository driversRepository
@inject ILogger<Drivers> logger

<h3>Alterar dados do condutor</h3>

@code {
    [Parameter] public int DriverId { get; set; }

    public Drivers driverInfo;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            logger.LogInformation("GetDriverById");
            driverInfo = await driversRepository.GetDriverById(DriverId);
        }
        catch (Exception ex)
        {
            logger.LogCritical(ex.ToString());
        }
    }

    private void Edit()
    {
        Console.WriteLine("Edit method");
    }
}

