@page "/drivers/create"
@inject IDriversRepository driversRepository
@inject NavigationManager navigationManager

<h3>Criar Condutor</h3>

<DriverForm Driver="driver" OnValidSubmit="Create"></DriverForm>

@code {
    public Drivers driver = new Drivers();

    private async Task Create()
    {
        try
        {
            await driversRepository.CreateDriver(driver);
            Console.WriteLine("Condutor criado");  
            navigationManager.NavigateTo("drivers");
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
