@page "/drivers/create"

<h3>Criar Condutor</h3>

@*<CondutorForm Condutor="condutor" OnValidSubmit="Create"/>*@

@code {
    //private Condutores condutor = new Condutores();

    //private void Create()
    //{
    //    Console.WriteLine("Condutor criado");
    //}
    
}
