@page "/drivers"
@*dependency injection of the class to obtain data*@
@inject IRepository repository

@*
@inject SingletonService singleton
@inject TransientService transient
*@

<h3>Lista de Condutores</h3>

<a class="btn btn-info" href="/drivers/create">Criar condutor</a>

<div> 
    <DriversList Drivers="drivers"/>
</div>

@code {
    private List<Drivers> drivers;

    protected override void OnInitialized()
    {
        drivers = repository.GetDrivers();
    }

    //
    //singleton.Value += 1;
    //transient.Value += 1
}
