@page "/users/create"
@layout MainLayout
@inject IAccountsRepository accountsRepository
@inject NavigationManager navigationManager
@inject ILoginService loginService
@inject IDisplayMessage displayMessage
@inject ILogger<UserInfo> logger
@attribute [Authorize(Roles = Constants.Admin)]

@using Datacar.Client.Auth

<div class="container">
    <div class="row">
        <div class="col col-lg-6">
            <div class="list-title">
                <h3>Novo utilizador</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6 form-list">
            <div>
                <UserForm UserInfo=userInfo OnValidSubmit="RegisterUser"></UserForm>
            </div>
        </div>
    </div>
</div>


@code {
    private UserInfo userInfo = new UserInfo();

    private async Task RegisterUser()
    {
        try
        {
            logger.LogInformation($"New User : {userInfo.Email}");
            var userToken = await accountsRepository.Register(userInfo);
            await displayMessage.SweetAlert(Constants.SWSuccess, Constants.NewUserCreated);
            navigationManager.NavigateTo("users");

            //if I want to try to login immediatelly with new user credentials
            //await loginService.Login(userToken);
        }
        catch (Exception ex)
        {
            await displayMessage.SweetAlert(Constants.SWError, Constants.AuthorizationFailed);
            logger.LogError($"ERROR : Creat User : {ex.Message}");
        }
    }
}

