@page "/users"
@inject IUsersRepository usersRepository


<h3>Utilizadores</h3>

<a class="btn btn-info" href="/users/create">Criar utilizador</a>

<div>
    <UsersList Users="users" ListType="@listTypeShort"></UsersList>
</div>

@code {
    string listTypeShort = ListType.Short.ToString();

    List<Users> users;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            users = await usersRepository.GetUsers();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}


