@page "/users/create"
@inject IUsersRepository usersRepository
@inject NavigationManager navigationManager
@inject ILogger<Users> logger

<h3>Novo utilizador</h3>

<div>
    <UserForm User=user OnValidSubmit="Create"></UserForm>
</div>

@code {
    private Users user = new Users();

    private async Task Create()
    {
        try
        {
            await usersRepository.CreateUser(user);
            logger.LogInformation($"Users Create Page: User {user.Id} created");
            navigationManager.NavigateTo("users");
        }
        catch (Exception ex)
        {
            logger.LogError($"User Create Page:{ex.Message.ToString()}");
        }
    }

}
