@page "/"
@attribute [Authorize]

<h1>DATACAR</h1>
<AuthorizeView>
    <Authorized>
        <text>Authorized!!!, @context.User.Identity.Name</text>
    </Authorized>
    <NotAuthorized>
        <text>Not Authorized!?!?!</text>
    </NotAuthorized>

</AuthorizeView>
<p>This is where the map will be displayed</p>
<p>No NavMenu</p>
