@page "/"
@attribute [Authorize]
@layout MainLayout

    <h1>DATACAR</h1>

    <AuthorizeView>
        <Authorized>
            <text>USER: @context.User.Identity.Name</text>
        </Authorized>
    </AuthorizeView>
    <p>This is where the map will be displayed</p>
    <p>No NavMenu</p>


