@page "/cars/create"
@inject ICarsRepository carsRepository
@inject NavigationManager navigationManager

<h3>Criar viatura</h3>

<CarForm Car="car" OnValidSubmit="Create" />

@code {
    private Cars car = new Cars();

    private async Task Create()
    {
        try
        {
            await carsRepository.CreateCar(car);
            Console.WriteLine("Viatura criada");  
            navigationManager.NavigateTo("cars");
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}