@page "/cars/create"
@inject ICarsRepository carsRepository
@inject NavigationManager navigationManager
@inject ILogger<Cars> logger
@attribute [Authorize]

<h3>Criar viatura</h3>

<CarForm Car="car" OnValidSubmit="Create" />

@code {
    private Cars car = new Cars();

    private async Task Create()
    {
        try
        {
            await carsRepository.CreateCar(car);
            logger.LogInformation($"Cars Create Page: Car {car.Id} created");
            navigationManager.NavigateTo("cars");
        }
        catch (Exception ex)
        {
            logger.LogError($"Cars Create Page:{ex.Message.ToString()}");
        }
    }
}