@page "/cars/search"
@inject IRepository repository
@attribute [Authorize]

<h3>Procurar viatura</h3>

<div class="form-inline">
    <div class="form-group mb-2">
        <label for="title" class="sr-only">Matricula</label>
        <input type="text" class="form-control" id="license" placeholder="Matricula"
               @bind-value="license" @bind-value:event="oninput"
               @onkeypress="@((KeyboardEventArgs e)=> LicenseKeyPressed(e))" />
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <select class="form-control" @bind="selectedLicense">
            <option value="0">
                -- Escolha a matrícula
            </option>
            @foreach (var car in Cars)
            {
                <option value="@car.Id">@car.License</option>

            }

        </select>
    </div>

    <button type="button" class="btn btn-primary mb-2 mx-sm-3" @onclick="SearchCar">Pesquisar</button>
    <button type="button" class="btn btn-secondary mb-2 mx-sm-3" @onclick="ClearCar">Limpar</button>

</div>

<CarsList Cars="Cars"></CarsList>

@code {
    private List<Cars> Cars;

    string license = "";
    string selectedLicense = "0";

    private List<Cars> cars = new List<Cars>()
{
        new Cars() {Id=1, License= "90-CV-43"},
        new Cars() {Id=2, License= "AE10VM"}
    };

    protected override void OnInitialized()
    {
        Cars = repository.GetCars();
    }

    private void SearchCar()
    {
        Cars = repository.GetCars().Where(x => x.License.Contains(selectedLicense)).ToList();
        Console.WriteLine($"Input = {license}");
        Console.WriteLine($"Input = {selectedLicense}");
    }

    private void ClearCar()
    {
        Cars = repository.GetCars();
        license = "";
        selectedLicense = "0";
    }

    // to capture the enter to execute the filter function
    private void LicenseKeyPressed(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SearchCar();
        }
    }


}
