@page "/cars"
@inject IRepository repository

<h3>Viaturas</h3>
<a class="btn btn-info" href="/cars/create">Criar viatura</a>

<div>
    <CarsList Cars="cars" ListType="@listTypeShort"></CarsList>
</div>

@code {
    string listTypeShort = ListType.Short.ToString();

    private List<Cars> cars;

    protected override void OnInitialized()
    {
        Console.WriteLine($"Enum: {listTypeShort}");
        cars = repository.GetCars();
    }
}