@page "/cars"
@inject ICarsRepository carsRepository
@inject ILogger<Cars> logger

<div class="main-page-container">
    <div class="row main-page-header">
        <div class="col col-lg-8 col-md-8">
            <main-page-title>Viaturas</main-page-title>
        </div>
        <div class="col col-lg-4 col-md-8">
            <a class="btn btn-info" href="/cars/create">Criar viatura</a>
        </div>
    </div>
</div>

@*<CarsList Cars="cars" ListType="@listTypeShort"></CarsList>*@

<div class="main-list">
    <GenericList List="cars">
        <WholeListTemplate>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>Matrícula</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in cars)
                    {
                        <tr>
                            <td>
                                <a href="/cars/edit/@item.Id" class="btn btn-success">Edit</a>
                                <button class="btn btn-danger" @onclick="@(()=>DeleteCar(item.Id))">Delete</button>
                            </td>
                            <td>@item.License</td>
                        </tr>
                    }
                </tbody>
            </table>
        </WholeListTemplate>
    </GenericList>
</div>

@code {
    string listTypeShort = ListType.Short.ToString();
    List<Cars> cars;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            logger.LogInformation("Cars Page: Get Cars list");
            cars = await carsRepository.GetCars();
        }
        catch (Exception ex)
        {
            logger.LogError($"Cars Page:{ex.ToString()}");
        }
    }

    private async Task DeleteCar(int Id)
    {
        try
        {
            await carsRepository.DeleteCar(Id);
            logger.LogInformation($"Cars Page: Car {Id} deleted");
            logger.LogInformation("Cars Page: Get Cars list");
            cars = await carsRepository.GetCars();
        }
        catch (Exception ex)
        {
            logger.LogError($"Cars Page:{ex.ToString()}");
        }
    }
}