@page "/register-no-login"
@inherits LayoutComponentBase
@inject IAccountsRepository accountsRepository
@inject NavigationManager navigationManager
@inject ILoginService loginService
@inject IDisplayMessage displayMessage
@attribute [Authorize(Roles = Constants.Admin)]

@using Datacar.Client.Auth

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-4">
            <div class="rounded registerform">
                <div>
                    <h3>Register to Datacar</h3>
                </div>
                <div>
                    <EditForm Model="userInfo" OnValidSubmit="RegisterUser">
                        <DataAnnotationsValidator />
                        <div class="form-group">
                            <label>Email:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@userInfo.Email" />
                                <ValidationMessage For="@(() => userInfo.Email)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password:</label>
                            <div>
                                <InputPassword class="form-control" @bind-Value="@userInfo.Password" />
                                <ValidationMessage For="@(() => userInfo.Password)" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                        <a href="login">Return to login</a>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private UserInfo userInfo = new UserInfo();
    
    private async void sweetalert(String type, String message)
    {
        await displayMessage.DisplayErrorMessage(message);
    }

    private async Task RegisterUser()

    {
        try
        {
            var userToken = await accountsRepository.Register(userInfo);
            await loginService.Login(userToken);
            navigationManager.NavigateTo("");
        }
        catch 
        {
            sweetalert(Constants.SWError, Constants.AuthorizationFailed);

        }
    }
}
}
