.individual-driver-component {
    margin-top: 32px;
    margin-right: 2%;
    margin-bottom: 10px;
    text-align: center;
}

/*top nav*/
.top-nav-p p {
    margin-top: 16px !important;
    color: red;
}

/*body main page*/


/*generic list*/
.generic-list {
    margin-top: 32px;
}

    .generic-list tr {
        border-bottom: 1pt;
        border-color: grey;
    }

.list-title h3 {
    color: green;
}

/*form list*/
.form-list {
    margin-top: 32px;
}

/*buttons*/
.btn-area {
    margin-top: .5rem;
    margin-bottom: .5rem;   
}
