@page "/datacaruser/create"
@inject IDatacarUserRepository usersRepository
@inject NavigationManager navigationManager
@inject ILogger<DatacarUser> logger
@attribute [Authorize]

<h3>Novo utilizador</h3>

<div>
    <UserForm User=user OnValidSubmit="Create"></UserForm>
</div>

@code {
    private DatacarUser user = new DatacarUser();

    private async Task Create()
    {
        try
        {
            await usersRepository.CreateUser(user);
            logger.LogInformation($"Users Create Page: User {user.Id} created");
            navigationManager.NavigateTo("users");
        }
        catch (Exception ex)
        {
            logger.LogError($"User Create Page:{ex.Message.ToString()}");
        }
    }

}
