@*To make a component generic it is necessary to include the following directive:*@
@typeparam TItem

@if (List == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else if (List.Count == 0)
{
    <text>@Constants.NoRecords</text>
}
else
{
    @if (ElementTemplate != null)
    {
        @foreach (var element in List)
        {
            @ElementTemplate(element)

        }
    }
    else
    {
        @WholeListTemplate
    }
}

@code {
    // to receive any list
    [Parameter] public List<TItem> List { get; set; }

    // to define how to render the TItem (former IndividualComponent)
    [Parameter] public RenderFragment<TItem> ElementTemplate { get; set; }

    // to define how to render the whole list - more flexibility on how to show the elements (e.g. <table>)
    [Parameter] public RenderFragment WholeListTemplate { get; set; }

    // to display the type of list
    //[Parameter] public string ListType { get; set; }
}
