@inherits LayoutComponentBase

@inject IDisplayMessage displayMessage
@inject NavigationManager navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        <div class="top-row px-4">            
            <a href="" class="btn btn-danger" @onclick="@(()=>LogoutUser())">Logout</a>
        </div>        
        <div class="main-content">
            @Body
        </div>
    </div>
</div>

@code {

    private async void sweetalert(String Type, String message)
    {
        await displayMessage.DisplayWarningMessage(message);
    }

    private void LogoutUser()
    {
        //sweetalert("Warning",Constants.Logout);
        //TODO: to change to not go to a page to perform logout
        navigationManager.NavigateTo("logout");
    }
}