@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        <div class="top-row px-4">            
            <a href="" class="btn btn-danger" @onclick="@(()=>LogoutUser())">Logout</a>
        </div>        
        <div class="main-content">
            @Body
        </div>
    </div>
</div>

@code {

    private void LogoutUser()
    {        
        //TODO: to change to not go to a page to perform logout immediatelly
        navigationManager.NavigateTo("logout");
    }
}