@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <LoginLinks></LoginLinks>
        <div class="top-row px-4">
            <a href="" class="btn btn-danger" >Logout</a>
        </div>

        @*<div class="content px-4">*@
        <div class="main-content">
            @Body
        </div>
    </div>
</div>
