@inject IUsersRepository usersRepository

@if (Auth != null)
{
    if (Auth.User.IsInRole(Constants.Admin))
    {
        <text>Admin</text>
    }
    else if (Auth.User.IsInRole(Constants.User))
    {
        <text>User</text>
    }
    else if (Auth.User.IsInRole(Constants.Guest))
    {
        <text>Guest</text>
    }
    else
    {
        <text></text>
    }
}
else if (UserId != null)
{
    <p>@userClaimRole.ClaimValue </p>
}

@code {
    // from user name
    [Parameter] public string UserId { get; set; }
    // from context
    [Parameter] public AuthenticationState Auth { get; set; }

    private List<UserClaims> userClaims = new List<UserClaims>();
    public UserClaims userClaimRole = new UserClaims();

    protected override async Task OnInitializedAsync()
    {
        if (UserId != null)
        {
            userClaims = await usersRepository.GetUserRoles(UserId);
            userClaimRole = userClaims.FirstOrDefault();
        }
    }
}
